*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg) no-repeat center/cover;
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 500px;
    height: 500px;
    
}

header{
    width:80%;
    margin:3vw auto;
    background-color: #262626;
    border: 2px solid white;
    border-radius: 0.3vw;
    padding: 0.4vw;
    font-size: 1vw;
    font-weight: 500;
    color: white;

}

.content{
    height:240px;
    width: 100%;
    /*border: 3px solid ;*/
    border-radius: 1vw;
    padding: 2vw 1vw;
    background-color: white;
    line-height: 2vw;
    box-shadow: 0 0 10px;    

}

.content .person {
    font-size: 1.7vw;
    color: red;
    text-transform: uppercase;
    margin-top: 1vw;
}
.content button {
    margin-top: 1vw;
    padding: 0.4vw  0.6vw;
    font-size: 1.1vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3vw;
}

button:active {
    background-color: lightblue;
}